<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="img-container">
        <% if @profile.profile_pic? %>
            <%= cl_image_tag @profile.profile_pic, class: "image"%>
          <% else %>
            <%= image_tag "user-placeholder", class: "image"%>
          <% end %>
      </div>
      <%= render 'panel', profile: @profile %>
    </div>
    <div class="col-xs-12 col-sm-8">
      <h1><%= @profile.first_name %> - <%= @profile.last_name %></h1>
      <p>Member since <%= @profile.created_at %></p>
      <div class="container-previous-bookings">
      <% if @profile.bookings != [] %>
        <h2>Previous bookings</h2>
        <%= render 'card-pair-mini', profile: @profile %>
      <% end %>
      </div>

      </div>

    </div>
  </div>
</div>



