<div class="container flex">

  <div class="infos">
    <div class="img-container">
      <%= cl_image_tag @profile.profile_pic, class: "big-avatar"%>
    </div>
    <%= render 'panel', profile: @profile %>
    <% if current_user == @profile.user %>
      <%= link_to 'Edit my profile', edit_profile_path(@profile), class: "btn secondaryblue edit-profile-btn" %>
    <% end %>
  </div>

  <div class="bookings">
    <div class="titles">
      <h1><%= @profile.first_name %> - <%= @profile.last_name %></h1>
      <p>Member since <%= @profile.created_at.to_date %></p>
    </div>
    <div class="card-mini-container">
    
      <div class="display">
      <% if @profile.bookings != [] %>
      <h3>Previous bookings</h3>
        <% @profile.bookings.each do |booking| %>
          <%= render 'card-pair-mini', booking: booking %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="card-mini-container-2">
    <h3><%= @profile.first_name %> has some pairs to lease!</h3>
      <div class="display">
      <% if @profile.pairs != [] %>
        <% @profile.pairs.each do |pair| %>
          <%= render 'card-pair-mini-2', pair: pair %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
