<div class="container">
  <div class ="card-product">
    <%= cl_image_tag @pair.picture, height: 500, width: 500, crop: :fill %>
    <div class="card-product-infos">
      <h2><%= @pair.brand %></h2>
      <p><%= @pair.brand %></p>
      <p>Correction: <%= @pair.correction_type %></p>
      <p class="side side1">L <%= @pair.left_eye_correction %></p>
      <p class="side side2">R <%= @pair.right_eye_correction %></p>
      <p></p><%= link_to "Book it", new_pair_booking_path(@pair.id) %>
    </div>
    <img class="small-avatar" src="<%= @pair.profile.profile_pic %>">
  </div>
  </div>
</div>



