<container class="form-container">
  <div class="form-div blue-font lowercase">
    <%= simple_form_for @pair do |f| %>
      <%= f.input :picture %>
      <%= f.input :picture_cache, as: :hidden %>
      <%= f.input :title, placeholder: 'Title of your glasses', input_html: { class: "form-field" } %>
      <%= f.input :description, placeholder: 'Give a fancy description to your glasses!', input_html: { class: "form-field" } %>
      <%= f.input :brand, placeholder: 'Brand of your glasses', input_html: { class: "form-field" } %>
      <%= f.input :price, placeholder: 'What is your price per day?', input_html: { class: "form-field" } %>
      <%= f.input :correction_type, collection: ["Presbyopia", "Short sightedness", "Astigmatic", "Farsightedness"], input_html: { class: "form-field" } %>
      <%= f.input :left_eye_correction, placeholder: "Don't be shy!", input_html: { class: "form-field" } %>
      <%= f.input :right_eye_correction, placeholder: "Don't be shy!", input_html: { class: "form-field" } %>
      <%= f.button :submit, "save changes", class: "w-400 submit-button green-button green-hover" %>
    <% end %>
  </div>
</container>