<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "eyebnb_logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Profile", profile_path(current_user) , class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Dashboard", dashboard_path(current_user) , class: "navbar-wagon-item navbar-wagon-link" %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
            <%= cl_image_tag current_user.profile.profile_pic, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->

      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
        <li><%= link_to "My profile", profile_path(current_user) %> </li>
        <li><%= link_to "Dashboard", dashboard_path(current_user) %> </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          </li>
        <% end %>
        <% else %>
          <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if !user_signed_in? %>
  <div class='cta-signup'>
    <p>Want to lease your pair ? Rent one ?  </p>
    <%= link_to 'create an account here', new_user_registration_path %>
  </div>
<% end %>

